body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}


.card {
  background: rgb(226, 225, 225);
  padding: 50px;
  align-items: center;
  align-self: center;
  width: 400px;
  border-radius: 6px;
}

button {
  margin-top: 20px;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 20px;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #333;
  text-align: center;
}
th,
td {
  padding: 6px;
}