 * {
        box-sizing: border-box;
        font-family: Helvetica, Arial, sans-serif;
    }

    body {
        background: #f0f2f5;
        margin: 0;
        padding: 0;
    }

    .logo {
        text-align: center;
        font-size: 57px;
        font-weight: bold;
        color: #1877f2;
        margin-top:20px;
        margin-bottom: 20px;
    }

    .card {
        width: 430px;
        background: #fff;
        margin: auto;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 16px;
    }

    .card h2 {
        text-align: center;
        margin: 5px 0;
        font-size: 26px;
    }

    .card p {
        text-align: center;
        color: #606770;
        margin-top: 0;
        font-size: 15px;
    }

    .row {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    input, select {
        width: 100%;
        padding: 11px;
        border: 1px solid #ccd0d5;
        font-size: 15px;
    }

    label {
        font-size: 12px;
        color: #606770;
        margin-bottom: 4px;
        display: block;
    }

    .gender-box {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .female {
        border: 1px solid #ccd0d5;
        padding: 10px;
        flex: 2;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
    .male {
        border: 1px solid #ccd0d5;
        padding: 10px;
        flex: 2;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
    .custom{
        border: 1px solid #ccd0d5;
        padding: 10px;
        flex: 2;
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .info {
        font-size: 11px;
        color: #777;
        margin: 10px 0;
        line-height: 1.4;
    }

    #signupBtn {
        width: 46%;
        margin: 30px auto;
        display: block;
        background: #00a400;
        color: white;
        font-size: 18px;
        font-weight: bold;
        border: none;
        padding: 10px;
        border-radius: 6px;
        cursor: pointer;
    }

    .login-link {
        text-align: center;
        margin-top: -10px;
        font-weight: 500;
        font-family: sans-serif;
    }

    .login-link a {
        color: #1877f2;
        text-decoration: none;
        font-size: 15px;
    }