* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.password-box {
  position: relative;
  /* width: 100%; */
}

.password-box input {
  /* width: 100%; */
  padding: 14px;
  padding-right: 40px;
  font-size: 16px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
}

.toggle {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #606770;
}

#show {
  width: 20px;
  height: 20px;
}

/* Main Container */
.container {
  padding: 10px 20px;
 justify-content: center;
}

/* Facebook Logo */
.logo {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  height: 30%;
}

/* .logo img {
  width: 180px;
} */

/* Login Box */
.login-box {
  background: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-box input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
}


#loginbtn {
  width: 100%;
  padding: 14px;
  background-color: #0866ff;;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding: 10px 20px;

}

#loginbtn:hover {
  background: transparent;
  color: #0866ff;;
  border: 1px solid #0866ff;;
}

#forgot {
  display: block;
  text-align: center;
  margin: 14px 0;
  color: #1877f2;
  font-size: 14px;
}


/* Create Account Button */
#create-btn {
  width: 100%;
  padding: 14px;
  background: #42b72a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#create-btn:hover {
  background: transparent;
  color: #42b72a;
  border: 1px solid #42b72a;
}

#create-btn a {
  text-decoration: none;
}